{% extends 'applipizza/base.html' %}

{% block title %}
détails d'une pizza
{% endblock %}

{% block content %}
<br>
<div class="container">
    <h2>voici notre pizza</h2>
    <p>{{ pizza }}</p>
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Ingredients</th>
            <th scope="col">Quantité</th>
          </tr>
        </thead>
        <tbody>
    {% for comp in composition %}
        <tr>
            <td>{{ comp.ingredient}}</td>
            <td>{{ comp.quantite}}</td>
        </tr>
    {% endfor %}
        </tbody>
    </table>
    <form action="/pizzas/{{pizza.idPizza}}/addIngredient/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Ajouter">
    </form>
</div>
{% endblock %}